@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
h1,
h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

:root {

    --bg-orange-1: #ffa500;
    --bg-orange-2: #FCC256;
    --bg-orange-3: #b8860b;
    --bg-gray-1: #524C41;
    --bg-gray-2: #7D7669;
    --bg-black: #000000;
    --bg-white: #fff;


}

/*HEADER - inicio da página com Menu Nav Bar*/

.menu-nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-orange-2);
    height: 50px;
    width: 100%;

}

.logo {
    padding: 0 10px 0 0;
}

.logo p {
    font-size: 1rem;
}

.logo i {
    font-size: 2rem;
}

.ct-navbar {


}

.navbar ul {

    display: flex;

}

.navbar ul li {
    list-style: none;

}

.navbar ul li a {
    text-decoration: none;
    color: var(--bg-gray-1);
    font-size: 0.8rem;
    padding: 4px 10px 3px 10px;
    border: 0.15rem solid var(--bg-orange-1);
    margin: 0 0.3rem;
    border-radius: 1rem;
    letter-spacing: 0.03rem;

}

.navbar ul li a:hover {

    color: var(--bg-gray-1);
    /*background: var(--bg-orange-3);*/
    transition: 1s;
    border: 0.15rem solid var(--bg-gray-1);

}

.login {
    /*font-weight: 400;*/
}

.login button {
    font-weight: 200;
    font-size: 0.8rem;
    border: none;
    /*padding: 3px 10px 3px 10px; padrão sem border-radius*/
    /*padding: 1px 10px 0 10px; padrão*/
    padding: 4px 10px 3px 10px;
    background: var(--bg-orange-1);
    color: var(--bg-black);
    border-radius: 1rem;
    margin: 0 0.2rem;
    letter-spacing: 0.05rem;
}

.login button:hover {

    background: var(--bg-gray-1);
    color: var(--bg-orange-1);
    cursor: pointer;
}

/*SECTION PRINCIPAL - HEADLINE */

.home {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4rem;
    background: white;
    gap: 50px;
}

.home header {
    width: 30rem;
    /*background: orange;*/

}

.home header h1 {
    font-weight: bold;
    font-size: 3.4rem;
    letter-spacing: 0.026rem;
    color: orange;
    /*margin: 0 0 15px 0;*/
}



.home header h2 {
    /*letter-spacing: 0.03rem;*/
    font-size: 2.08rem;
    font-weight: bold;
    color: #42331b;
    margin: 0 0 15px 0;

}

.home header span {
    font-size: 1.37rem;
    color: #42331b;
}

.home header p {
    font-size: 0.8rem;
    text-align: justify;
    /*font-weight: bold;*/
    color: #42331b;
    margin: 10px 0 30px 0;
    padding-right: 5px;


}


.home header .btn-cta {
    font-size: 0.8rem;
    border: none;
    padding: 8px;
    background: #42331b;
    ;
    color: white;
    border-radius: 10px;
}

.home header .btn-cta:hover {
    background: orange;
    color: black;
    cursor: pointer;
}

.img-headline {
    width: 600px;
    height: 350px;
    /*background-color: black;*/
}

.img-headline img {
    width: 100%;
    border-top-left-radius: 2rem 2rem;
    border-bottom-right-radius: 2rem 2rem;
    box-shadow: 10px 10px 0px -2px var(--bg-gray-1);
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background: orange;
    padding-top: 5rem;
    gap: 3rem;
}

.about>.about-content,
.about-img {
    width: 40%;
}

.about h1 {
    font-weight: 400;
    font-size: 1.6rem;
    border-left: 0.8rem solid var(--bg-gray-1);
    padding-left: 0.8rem;
}

.about h2 {
    font-weight: 300;
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 0.4rem 0.4rem;
    background: #7D7669;
    text-align: right;
}


.about>p {
    font-size: 0.95rem;
    padding: 1rem 0 0 0;
    text-align: justify;
    /*width: 35rem;*/
}

.about img {
    width: 100%;
    border-top-right-radius: 2rem 2rem;
    border-bottom-left-radius: 2rem 2rem;
    box-shadow: 10px 10px 0px -2px var(--bg-white);
}

.services {
    height: 100vh;
    background: #f9ca74;
}

.services>h1,
.case h1,
.contact h1,
.partners h1 {
    padding-top: 2rem;
    text-align: center;
}

.services-card {
    display: flex;
    gap: 10px;
}

.sv-card-itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    background: orange;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    gap: 1rem;
}

.sv-card-itens i {
    font-size: 4rem;
}

.sv-card-itens+h1 {
    font-size: 1.6rem;
}

.sv-card-itens p {
    font-size: 0.8rem;
    text-align: justify;
}

.sv-card-itens button {
    font-weight: 500;
    border: none;
    padding: 8px 18px;
    border-radius: 50px;
    color: orange;
    background: #000;
    letter-spacing: 0.1rem;
    box-shadow: 0px 1px 8px -3px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
}

.sv-card-itens button:hover {
    color: #000;
    background: orange;
    transition: 1s;
}

.services-card .sv-card-itens img {
    width: 3rem;
}

.case {
    height: 1050px;
    background: #ffa500;
}

.case h1 {
    margin-bottom: 30px;
}

.case-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.case-item {
    width: 40rem;
    /*border: 1px solid #000;*/
    padding: 0 0 0 0;
    margin: 1rem 0 2rem 0;
    /*background: var(--bg-gray-2);*/
}

.case-item h2 {
    padding: 0 0 10px 0;
}

.case-item span {
    margin: 10px 0 0 0;
}

.case-item p {
    padding: 10px 0 0 0;
}

.img-item {
    /*background: var(--bg-white);*/
}

.img-item img {
    width: 300px;
    padding: 0 0 15px 0;
    /*border-radius: 3rem;*/
}

.img-item i {
    display: inline-block;
    font-size: 5rem;
    padding: 1rem 2rem;
    border: 0.15rem solid var(--bg-black);
    border-radius: 1rem;
}
.partners {
    height: 350px;
    background: #ffffff;
}

.partners-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.partners-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 210px;
    border: 0.01rem solid #f9ca74;
    text-align: center;
    border-radius: 0.3rem;
    /*padding: 1rem;*/
}

.partners-item i {
    font-size: 3rem;
}
.partners-item h2 {
    /*display: block;*/
    padding: 0.4rem 0 0.4rem 0;
    font-size: 1.2rem;
    color: #f9ca74;

}

.partners-item p {
    font-size: 0.8rem;
    color: #f9ca74;
    padding: 0.4rem;


}

.partners-item img {
    /*padding-top: 0.4rem;*/
    width: 3.6rem;
}

.contact {
    height: 100vh;
    background: orange;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

.contact h1 {
    
    
}

.form-contact {
    width: 30rem;
    margin: 30px auto;
    padding: 1rem;

}

.contact .form-contact form {
    gap: 0.2rem;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.contact .form-contact form input[type="submit"] {
    border-radius: 1rem;
    margin-top: 0.4rem;
    padding: 1rem;
    border: none;
    background: white;
    color: #42331b;

} 

.contact .form-contact form label {
    font-weight: bold;
}

.contact .form-contact form input[type="submit"]:hover {
    background: #42331b;
    color: white;
} 

.contact .form-contact form input, select, textarea {
    border: none;
    padding: 0.2rem;
}

footer {
    background: #42331b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 300px;
    
}

.ft-rodape-item {

    padding-top: 2rem;
    width: 300px;
    /*border: 1px solid;*/


}

.ft-rodape-item h1 {
    font-weight: 200;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    color: #ffa500;
}
.ft-rodape-item span {

}
.ft-rodape-item img {
   
}
.ft-rodape-item nav {
    
}
.ft-rodape-item nav ul {
    
}
.ft-rodape-item nav ul li {
    list-style: none;
    font-weight: 200;
    
}
.ft-rodape-item nav ul li a {
    display: inline-block;
    text-decoration: none;
    color:#ffffff;
}

.ft-rodape-item nav ul li a:hover {
    /*background: #f9ca74;*/
    color: #f9ca74;
}

.ft-rodape-item:nth-child(4){
    text-align: center;
    color: #ffffff;
    /*background: #000;*/

}

.ft-rodape-item:nth-child(4) a {
    display: inline-block;
    color: #ffa500;
    text-decoration: none;
    padding: 0.8rem 1rem;
    margin: 1rem 0.2rem;
    background: #000;
    border-radius: 50%;
}

.ft-rodape-item:nth-child(4) a:hover {
    color: #000;
    background: #ffa500;
}

.ft-rodape-item:nth-child(4) h2 {
    padding: 0.6rem 0;
    font-size: 1rem;
    font-weight: 500;
}

.ft-rodape-item:nth-child(4) p {
    padding: 0.6rem 0;
    font-size: 0.8rem;
    font-weight: 300;
}

.ft-icons {
    display: flex;
    background: #f9ca74;
}

.ft-svg-icons {


}



/* MÉDIA QUERIES - AJUSTAR PARA ABAIXO DE 650 E CELULAR MOBILE FIRST */