@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, h1, h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

/*HEADER - inicio da página com Menu Nav Bar*/

.menu-nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    height: 50px;
    width: 100%;

}

.logo {
    padding: 0 10px 0 0;
}

.logo p {
    font-size: 1rem;
}

.ct-navbar {
    /*font-weight: bold;*/
    /*margin-left: 50px;*/

}

.navbar ul {

    display: flex;
    /*margin-left: 30px;*/
}

.navbar ul li {
    list-style: none;
    /*margin: 0 30px 0 30px;*/
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    /*background: black;*/
    font-size: 1rem;
    padding: 4px 10px 3px 10px;

}

.navbar ul li a:hover {

    color: white;
    background: #573f05;
}

.login {
    /*font-weight: 400;*/
}

.login button {

    font-size: 1rem;
    border: none;
    /*padding: 3px 10px 3px 10px; padrão sem border-radius*/
    padding: 1px 10px 0 10px;
    background: #573f05;
    color: white;
    border-radius: 10px;
}

.login button:hover {

    background: darkgoldenrod;
    color: #573f05;
    cursor: pointer;
}

/*SECTION PRINCIPAL - HEADLINE */

.home {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: white;
    gap: 50px;
}

.home header {
    width: 30rem;
    /*background: orange;*/

}

.home header h1 {
    font-weight: bold;
    font-size: 3.4rem;
    letter-spacing: 0.026rem;
    color:orange;
    /*margin: 0 0 15px 0;*/
}



.home header h2 {
    /*letter-spacing: 0.03rem;*/
    font-size: 2.08rem;
    font-weight: bold;
    color:#42331b;
    margin: 0 0 15px 0;
    
}

.home header span {
    font-size: 1.37rem;
    color:#42331b;
}

.home header p {
    font-size: 0.8rem;
    text-align: justify;
    /*font-weight: bold;*/
    color:#42331b;
    margin: 10px 0 30px 0;
    padding-right: 5px;

    
}


.home header .btn-cta {
    font-size: 0.8rem;
    border: none;
    padding: 8px;
    background: #42331b;;
    color: white;
    border-radius: 10px;
}

.home header .btn-cta:hover {
    background: orange;
    color: black;
    cursor: pointer;
}

.img-headline {
    width: 600px;
    height: 350px;
    /*background-color: black;*/
}
.img-headline img {
    width: 100%;
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background: orange;
    padding-top: 5rem;
    gap: 3rem;
}

.about > .about-content, .about-img {
    width: 40%;
}

.about h1 {
    font-size: 1.6rem;
}

.about h2 {
    font-size: 1.2rem;
    padding: 2rem 0 0 0;
}


.about > p {
    font-size: 0.95rem;
    padding: 1rem 0 0 0;
    text-align: justify;
    /*width: 35rem;*/
}

.about img {
    width: 100%;
}

.services {
    height: 100vh;
    background: #f9ca74;
}

.services > h1, .case h1, .contact h1, .partners h1 {
    padding-top: 2rem;
    text-align: center;
}

.services-card {
    display: flex;
    gap: 10px;
}
.sv-card-itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    background: orange;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    gap: 12px;
}

.sv-card-itens {
    
}

.sv-card-itens + h1 {
    font-size: 1.6rem;
}

.sv-card-itens p {
    font-size: 0.8rem;
    text-align: justify;
}

.sv-card-itens button {
    font-weight: 500;
    border: none;
    padding: 8px 18px;
    border-radius: 50px;
    color: orange;
    background: #000;
    letter-spacing: 0.1rem;
    box-shadow: 0px 1px 8px -3px rgba(0,0,0,0.75);
    transition: 0.5s;
}

.sv-card-itens button:hover {
    color: #000;
    background: orange;
    transition: 1s;
}

.services-card .sv-card-itens img {
    width: 3rem;
}

.case {
    height: 1050px;
    background: orange;
}

.case h1 {
    margin-bottom: 30px;
}
.case-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    
}
.case-item {
    width: 600px;
    border: 1px solid #000;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.case-item h2 {
    padding: 0 0 10px 0;
}
.case-item span {
    margin: 10px 0 0 0;
}
.case-item p {
    padding: 10px 0 0 0;
}

.img-item img {
    width: 300px;
    padding: 0 0 15px 0;
}
.partners {
    height: 300px;
    background: #ffffff;
} 

.partners-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}
.partners-item {
    width: 200px;
    height: 250px;
    border: 0.01rem solid #000;
    text-align: center;
}

.partners-item h2 {
    font-size: 0.8rem;
    color:#f9ca74;
    border-radius: 5px;
}
.contact {
    height: 100vh;
    background: orange;
}

footer {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer .ft-rodape-item {
    text-align: center;
    width: 31vw;
    height: 300px;
}

/* MÉDIA QUERIES - AJUSTAR PARA ABAIXO DE 650 E CELULAR MOBILE FIRST */