@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    height: 30px;

}

.ct-logo {
    padding: 0 10px 0 0;
}

.ct-logo p {
    font-size: 1rem;
}

.ct-navbar {
    /*font-weight: bold;*/
    /*margin-left: 50px;*/

}

.ct-navbar ul {

    display: flex;
    /*margin-left: 30px;*/
}

.ct-navbar ul li {
    list-style: none;
    /*margin: 0 30px 0 30px;*/
}

.ct-navbar ul li a {
    text-decoration: none;
    color: darkgoldenrod;
    /*background: black;*/
    font-size: 1rem;
    padding: 4px 10px 3px 10px;

}

.ct-navbar ul li a:hover {

    color: white;
    background: #573f05;
}

.ct-login {
    /*font-weight: 400;*/
}

.ct-login button {

    font-size: 1rem;
    border: none;
    /*padding: 3px 10px 3px 10px; padrão sem border-radius*/
    padding: 1px 10px 0 10px;
    background: #573f05;
    color: white;
    border-radius: 10px;
}

.ct-login button:hover {

    background: darkgoldenrod;
    color: #573f05;
}

.sc-um-principal {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: silver;
}

.sc-um-principal header h1 {
    font-weight: 300;
    color:#573f05;
    margin-left: 30px;
}

.sc-um-principal header h2 {
    font-weight: 200;
    color:#573f05;
    margin-left: 30px;
    
}

.sc-um-principal header p {
    text-align: justify;
    font-weight: bold;
    color:#573f05;
    margin-left: 30px;
    
}


.sc-um-principal header .btn-cta {
    font-size: 0.9rem;
    border: none;
    padding: 8px;
    background: #573f05;
    color: white;
    border-radius: 10px;
}


.img-headline {
    width: 350px;
    height: 350px;
    background-color: black;
}

.sc-dois-card {
    height: 100vh;
    background: orange;
}

.sc-tres-elemento1 {
    height: 100vh;
    background: silver;
}

.sc-quatro-carrousel {
    height: 100vh;
    background: darkgoldenrod;
}